.background {
  background: url(https://pbs.twimg.com/profile_images/1980294624/DJT_Headshot_V2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  color: rgb(255,25,25);
  font-family: 'PT Serif', serif;
  text-align: center;
}
